# First Inning Score Prediction

In [1]:
#importing essential libraries
import pandas as pd
import pickle


#loading the dataset
df=pd.read_csv('ipl.csv')

In [2]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [3]:
#--data cleaning--
#removing unwanted columns
columns_to_remove=['mid','venue','batsman','bowler','striker','non-striker']
df.drop(labels=columns_to_remove,axis=1,inplace=True)

In [4]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [5]:
df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [6]:
df['bat_team'].unique()#how many unique team

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [7]:
#keep only consistent teams(only teams which are playing)

consistent_teams=['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant']

In [8]:
# filtering consistent team from datasert
df=df[(df['bat_team'].isin(consistent_teams))&(df['bowl_team'].isin(consistent_teams))]

In [9]:
#Removing the first 5 overs data in every match
#u need to have atleast min 5 hour data to predict the score

df=df[df['overs']>=5.0]

In [10]:
df.head()

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,5.1,59,0,222
33,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.2,59,1,222
34,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.3,59,1,222
35,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.4,59,1,222
36,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,5.5,58,1,222

In [11]:
print(df['bat_team'].unique())
print(df['bowl_team'].unique())

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Deccan Chargers' 'Kings XI Punjab'
 'Royal Challengers Bangalore' 'Delhi Daredevils' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Deccan Chargers' 'Pune Warriors'
 'Kochi Tuskers Kerala' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']

In [12]:
#coverting date col. of string to date time object
#string to datetime obj 
from datetime import datetime
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56707 entries, 32 to 76013
Data columns (total 9 columns):
date              56707 non-null datetime64[ns]
bat_team          56707 non-null object
bowl_team         56707 non-null object
runs              56707 non-null int64
wickets           56707 non-null int64
overs             56707 non-null float64
runs_last_5       56707 non-null int64
wickets_last_5    56707 non-null int64
total             56707 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 4.3+ MB

In [13]:
#--Data Processing ---\
#converting categorical features using one hot encoding
encoded_df=pd.get_dummies(data=df,columns=['bat_team','bowl_team'])
pd.pandas.set_option('display.max_columns', None)

In [14]:
encoded_df.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Chennai Super Kings,bat_team_Deccan Chargers,bat_team_Delhi Daredevils,bat_team_Gujarat Lions,bat_team_Kings XI Punjab,bat_team_Kochi Tuskers Kerala,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Pune Warriors,bat_team_Rajasthan Royals,bat_team_Rising Pune Supergiant,bat_team_Rising Pune Supergiants,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Deccan Chargers,bowl_team_Delhi Daredevils,bowl_team_Gujarat Lions,bowl_team_Kings XI Punjab,bowl_team_Kochi Tuskers Kerala,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Pune Warriors,bowl_team_Rajasthan Royals,bowl_team_Rising Pune Supergiant,bowl_team_Rising Pune Supergiants,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,2008-04-18,61,0,5.1,59,0,222,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
33,2008-04-18,61,1,5.2,59,1,222,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
34,2008-04-18,61,1,5.3,59,1,222,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
35,2008-04-18,61,1,5.4,59,1,222,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
36,2008-04-18,61,1,5.5,58,1,222,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [15]:
encoded_df.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'bat_team_Chennai Super Kings', 'bat_team_Deccan Chargers',
       'bat_team_Delhi Daredevils', 'bat_team_Gujarat Lions',
       'bat_team_Kings XI Punjab', 'bat_team_Kochi Tuskers Kerala',
       'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians',
       'bat_team_Pune Warriors', 'bat_team_Rajasthan Royals',
       'bat_team_Rising Pune Supergiant', 'bat_team_Rising Pune Supergiants',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Deccan Chargers',
       'bowl_team_Delhi Daredevils', 'bowl_team_Gujarat Lions',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kochi Tuskers Kerala',
       'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians',
       'bowl_team_Pune Warriors', 'bowl_team_Rajasthan Royals',
       'bowl_team_Rising Pune Supergiant', 'bowl_team_Rising Pune Supergiants',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [16]:
#Rearranging the columns
# to train and test data putting total at last
encoded_df=encoded_df[['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
        'bat_team_Chennai Super Kings', 'bat_team_Deccan Chargers',
       'bat_team_Delhi Daredevils', 'bat_team_Gujarat Lions',
       'bat_team_Kings XI Punjab', 'bat_team_Kochi Tuskers Kerala',
       'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians',
       'bat_team_Pune Warriors', 'bat_team_Rajasthan Royals',
       'bat_team_Rising Pune Supergiant', 'bat_team_Rising Pune Supergiants',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Deccan Chargers',
       'bowl_team_Delhi Daredevils', 'bowl_team_Gujarat Lions',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kochi Tuskers Kerala',
       'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians',
       'bowl_team_Pune Warriors', 'bowl_team_Rajasthan Royals',
       'bowl_team_Rising Pune Supergiant', 'bowl_team_Rising Pune Supergiants',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad','total']]

In [17]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56707 entries, 32 to 76013
Data columns (total 35 columns):
date                                     56707 non-null datetime64[ns]
runs                                     56707 non-null int64
wickets                                  56707 non-null int64
overs                                    56707 non-null float64
runs_last_5                              56707 non-null int64
wickets_last_5                           56707 non-null int64
bat_team_Chennai Super Kings             56707 non-null uint8
bat_team_Deccan Chargers                 56707 non-null uint8
bat_team_Delhi Daredevils                56707 non-null uint8
bat_team_Gujarat Lions                   56707 non-null uint8
bat_team_Kings XI Punjab                 56707 non-null uint8
bat_team_Kochi Tuskers Kerala            56707 non-null uint8
bat_team_Kolkata Knight Riders           56707 non-null uint8
bat_team_Mumbai Indians                  56707 non-null uint8
bat_team_Pune Warriors                   56707 non-null uint8
bat_team_Rajasthan Royals                56707 non-null uint8
bat_team_Rising Pune Supergiant          56707 non-null uint8
bat_team_Rising Pune Supergiants         56707 non-null uint8
bat_team_Royal Challengers Bangalore     56707 non-null uint8
bat_team_Sunrisers Hyderabad             56707 non-null uint8
bowl_team_Chennai Super Kings            56707 non-null uint8
bowl_team_Deccan Chargers                56707 non-null uint8
bowl_team_Delhi Daredevils               56707 non-null uint8
bowl_team_Gujarat Lions                  56707 non-null uint8
bowl_team_Kings XI Punjab                56707 non-null uint8
bowl_team_Kochi Tuskers Kerala           56707 non-null uint8
bowl_team_Kolkata Knight Riders          56707 non-null uint8
bowl_team_Mumbai Indians                 56707 non-null uint8
bowl_team_Pune Warriors                  56707 non-null uint8
bowl_team_Rajasthan Royals               56707 non-null uint8
bowl_team_Rising Pune Supergiant         56707 non-null uint8
bowl_team_Rising Pune Supergiants        56707 non-null uint8
bowl_team_Royal Challengers Bangalore    56707 non-null uint8
bowl_team_Sunrisers Hyderabad            56707 non-null uint8
total                                    56707 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), uint8(28)
memory usage: 5.0 MB

In [18]:
#splitting  the data into train and test data
#time based splitting
x_train= encoded_df.drop(labels='total',axis=1)[encoded_df['date'].dt.year<=2016]
x_test= encoded_df.drop(labels='total',axis=1)[encoded_df['date'].dt.year>=2017]

In [19]:
x_train.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,bat_team_Chennai Super Kings,bat_team_Deccan Chargers,bat_team_Delhi Daredevils,bat_team_Gujarat Lions,bat_team_Kings XI Punjab,bat_team_Kochi Tuskers Kerala,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Pune Warriors,bat_team_Rajasthan Royals,bat_team_Rising Pune Supergiant,bat_team_Rising Pune Supergiants,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Deccan Chargers,bowl_team_Delhi Daredevils,bowl_team_Gujarat Lions,bowl_team_Kings XI Punjab,bowl_team_Kochi Tuskers Kerala,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Pune Warriors,bowl_team_Rajasthan Royals,bowl_team_Rising Pune Supergiant,bowl_team_Rising Pune Supergiants,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,2008-04-18,61,0,5.1,59,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
33,2008-04-18,61,1,5.2,59,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
34,2008-04-18,61,1,5.3,59,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
35,2008-04-18,61,1,5.4,59,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
36,2008-04-18,61,1,5.5,58,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [20]:
x_test.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,bat_team_Chennai Super Kings,bat_team_Deccan Chargers,bat_team_Delhi Daredevils,bat_team_Gujarat Lions,bat_team_Kings XI Punjab,bat_team_Kochi Tuskers Kerala,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Pune Warriors,bat_team_Rajasthan Royals,bat_team_Rising Pune Supergiant,bat_team_Rising Pune Supergiants,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Deccan Chargers,bowl_team_Delhi Daredevils,bowl_team_Gujarat Lions,bowl_team_Kings XI Punjab,bowl_team_Kochi Tuskers Kerala,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Pune Warriors,bowl_team_Rajasthan Royals,bowl_team_Rising Pune Supergiant,bowl_team_Rising Pune Supergiants,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
68894,2017-04-05,46,1,5.1,42,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
68895,2017-04-05,50,1,5.2,46,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
68896,2017-04-05,50,1,5.3,44,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
68897,2017-04-05,54,1,5.4,48,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
68898,2017-04-05,58,1,5.5,51,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [21]:
y_train=encoded_df[encoded_df['date'].dt.year<=2016]['total'].values
y_test=encoded_df[encoded_df['date'].dt.year>=2017]['total'].values

In [22]:
# date time only use to train and test split so drop it
#Removing the date column
x_train.drop(labels='date',axis=True,inplace=True)
x_test.drop(labels='date',axis=True,inplace=True)

In [23]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51366 entries, 32 to 68861
Data columns (total 33 columns):
runs                                     51366 non-null int64
wickets                                  51366 non-null int64
overs                                    51366 non-null float64
runs_last_5                              51366 non-null int64
wickets_last_5                           51366 non-null int64
bat_team_Chennai Super Kings             51366 non-null uint8
bat_team_Deccan Chargers                 51366 non-null uint8
bat_team_Delhi Daredevils                51366 non-null uint8
bat_team_Gujarat Lions                   51366 non-null uint8
bat_team_Kings XI Punjab                 51366 non-null uint8
bat_team_Kochi Tuskers Kerala            51366 non-null uint8
bat_team_Kolkata Knight Riders           51366 non-null uint8
bat_team_Mumbai Indians                  51366 non-null uint8
bat_team_Pune Warriors                   51366 non-null uint8
bat_team_Rajasthan Royals                51366 non-null uint8
bat_team_Rising Pune Supergiant          51366 non-null uint8
bat_team_Rising Pune Supergiants         51366 non-null uint8
bat_team_Royal Challengers Bangalore     51366 non-null uint8
bat_team_Sunrisers Hyderabad             51366 non-null uint8
bowl_team_Chennai Super Kings            51366 non-null uint8
bowl_team_Deccan Chargers                51366 non-null uint8
bowl_team_Delhi Daredevils               51366 non-null uint8
bowl_team_Gujarat Lions                  51366 non-null uint8
bowl_team_Kings XI Punjab                51366 non-null uint8
bowl_team_Kochi Tuskers Kerala           51366 non-null uint8
bowl_team_Kolkata Knight Riders          51366 non-null uint8
bowl_team_Mumbai Indians                 51366 non-null uint8
bowl_team_Pune Warriors                  51366 non-null uint8
bowl_team_Rajasthan Royals               51366 non-null uint8
bowl_team_Rising Pune Supergiant         51366 non-null uint8
bowl_team_Rising Pune Supergiants        51366 non-null uint8
bowl_team_Royal Challengers Bangalore    51366 non-null uint8
bowl_team_Sunrisers Hyderabad            51366 non-null uint8
dtypes: float64(1), int64(4), uint8(28)
memory usage: 3.7 MB

In [24]:
#--Model Building
#linear Regression model
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [25]:
#creating a pickle file for the classifier

filename='first_innings_lr_model.pkl'
pickle.dump(regressor,open(filename,'wb'))

# ridge Regression

In [26]:
##ridge Regression
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [27]:
ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40]}
ridge_regressor=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(x_train,y_train)

C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.15864e-23): result may not be accurate.
  overwrite_a=True).T
C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.16532e-23): result may not be accurate.
  overwrite_a=True).T
C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.19074e-23): result may not be accurate.
  overwrite_a=True).T
C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.11981e-18): result may not be accurate.
  overwrite_a=True).T
C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.15864e-18): result may not be accurate.
  overwrite_a=True).T
C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.16532e-18): result may not be accurate.
  overwrite_a=True).T
C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.16158e-18): result may not be accurate.
  overwrite_a=True).T
C:\Users\Rakshita Pawar\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.17998e-18): result may not be accurate.
  overwrite_a=True).T

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10, 20, 30, 35, 40]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [28]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 40}
-312.53995255886775

In [29]:
prediction = ridge_regressor.predict(x_test)

In [30]:
import seaborn as sns
import matplotlib.pyplot as plt
% inline matplotlib

sns.distplot(y_test-prediction)
plt.show()

UsageError: Line magic function `%` not found.

In [ ]:
from sklearn import metrics
import numpy as np
print('MAE:',metrics.mean_absolute_error(y_test,prediction))
print('MSE:',metrics.mean_squared_error(y_test,prediction))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,prediction)))

# Lasso Regression

In [ ]:
# Lasso is slow

from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

In [ ]:
lasso=Lasso()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40]}
lasso_regressor=GridSearchCV(lasso,parameters,scoring='neg_mean_squared_error',cv=5)
lasso_regressor.fit(x_train,y_train)

In [ ]:
print(lasso_regressor.best_params_)
print(lasso_regressor.best_score_)

In [ ]:
prediction = lasso_regressor.predict(x_test)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.distplot(y_test-prediction)
plt.show()

In [ ]:
from sklearn import metrics
import numpy as np
print('MAE:',metrics.mean_absolute_error(y_test,prediction))
print('MSE:',metrics.mean_squared_error(y_test,prediction))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,prediction)))

In [ ]:
#lasso works slow than ridge